form(method='POST', class='form-horizontal', enctype='multipart/form-data')
  input(type='hidden', name='slug', value=image.slug)

  .control-group
    label.control-label Title
    .controls
      input(type='text', name='title', value=image.title)

  .control-group
    label.control-label File
    .controls
      input(type='file', name='image')