extends layout

block content
  .container
    .hero-unit
      h1 Beach Energy
      p.lead Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  .container
    .row
      .span3.sidebar
        include images/index
      .span9.content
        include articles/index
