doctype 5
html
  head
    title Beach Energy
    link(rel='stylesheet', href='/assets/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/libs/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/assets/stylesheets/style.css')
    script(type='text/javascript', src='/assets//libs/jquery/jquery-1.8.1.min.js')
    script(type='text/javascript', src='/assets//libs/jquery-scrollto/jquery.scrollTo-1.4.3.1-min.js')
    script(type='text/javascript', src='/assets/libs/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/assets/libs/underscore/underscore-min.js')
    script(type='text/javascript', src='/assets/libs/backbone/backbone-min.js')
    script(type='text/javascript', src='/assets/javascripts/application.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

  body
    include nav

    .container
      .row
        .span12
          .flash-message
            if messages.error != ''
              .alert.error !{messages.error}
            if messages.info != ''
              .alert.info !{messages.info}
            if messages.warning != ''
              .alert.warning !{messages.warning}
            if messages.success != ''
              .alert.success !{messages.success}

    block content

    #modal(class='modal hide fade')
      .modal-header
        button(class='close', type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3 Loading...
      .modal-body
        p Loading...
      .modal-footer
        a(class='btn', data-dismiss='modal', href='#') Close
        a(class='btn btn-primary', href='#') Save changes
