.navbar
  .navbar-inner
    a(class='brand', href='/')= 'Beach Energy'
    ul.nav.pull-right
      li
        a(class='new-article', href='/new')= 'New Article'
      li
        a(class='sign-in', href='/users/login')= 'Sign in'
