ul.unstyled.span4
  for link in links
    li
      a(href=link.url)= link.text
      if currentUser.canActAs('admin')
        | &nbsp;|&nbsp;
        small
          a(href='/links/'+link._id+'/edit', class='edit-link') edit