ul(class='unstyled')
  for link in links
    li
      a(href=link.url)= link.text
      &nbsp;|&nbsp;
      if currentUser.canActAs('admin')
        small
          a(href='/links/'+link._id+'/edit', class='edit-link') edit