form(method='POST', class='form-horizontal')
  input(type='hidden', name='slug', value=article.slug)

  .control-group
    label.control-label Title
    .controls
      input(type='text', name='title', value=article.title)

  .control-group
    label.control-label Author
    .controls
      input(type='text', name='author', value=article.author||currentUser.firstname+' '+currentUser.lastname)

  .control-group
    label.control-label Content
    .controls
      textarea(name='content', rows='10') #{article.content}
