for article in articles
  h2 #{article.title}
  .article-meta
    small by #{article.author}, #{article.updated_at} &nbsp;
      a(href='/articles/'+article.slug) link to full article
 
  !{markdown(article.content, 200)}
