extends ../layout

block content
  .container
    h1.article-title= article.title
    .article-meta
      small by #{article.author}, #{article.updated_at} &nbsp;
        if currentUser.canActAs('writer')
          a(href='/articles/'+article.slug+'/edit', class='edit-article') edit article
    .article-content
      !{markdown(article.content)}
