form(method='POST', class='form-horizontal')
  .control-group
    label.control-label First Name
    .controls
      input(type='text', name='firstname', value=user.firstname)

  .control-group
    label.control-label Last Name
    .controls
      input(type='text', name='lastname', value=user.lastname)

  .control-group
    label.control-label Email
    .controls
      input(type='email', name='email', value=user.email)

  .control-group
    label.control-label Password
    .controls
      input(type='password', name='password')

  .control-group
    label.control-label Confirm
    .controls
      input(type='password', name='confirm')