form(method='POST', class='form-horizontal')
  .control-group
    label.control-label Email
    .controls
      input(type='email', name='username')

  .control-group
    label.control-label Password
    .controls
      input(type='password', name='password')

  .form-actions
    a(class='btn', data-dismiss='modal', href='#') Cancel
    a(class='btn btn-primary', href='#') Login
