ul.unstyled.span4
  for doc in docs
    li
      a(href='/docs/'+doc.slug, class='doc-link') #{doc.title}
      if currentUser.canActAs('admin')
        &nbsp;|&nbsp;
        small
          a(href='/docs/'+doc.slug+'/edit', class='edit-doc') edit